<ion-header >
  <ion-toolbar color="primary">
      <ion-buttons slot="start" color="light">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title class="title-ios" text-capitalize>{{ about_us1 }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<div class="aboutSection">
  <div class="dFlexAlignItemBase">
      <h4><b>{{ about_us2 }}</b></h4><span>{{ about_us3 }}</span>
  </div>

<p>
  {{ about_us4 }}
    <br>
    <br>

  {{ about_us5 }}
</p>
</div>
</ion-content>
